/.vscode
/cifar-100-python
/examples
/imagenet-records
/imagenet-records-all-classes
/imagenet-urls
/training-data
/model/__pycache__
/model/logs
/model/checkpoints

create_records_imagenet-all-classes.py
create_records_imagenet.py
create_training_data.py
decode_training_data.py
generate_example.py
read_records_imagenet.py
read_training_data.py
test.jpg
testimage.jpg